body {
    font-family: Arial;
    font-size: 11pt;
    padding: 0;
}

h1 {
    font-size: 11pt;
    font-weight: bold;
}

div.post img {
    width: 100%!important;
}

div.post img.qr {
    width: 20%!important;
    float: right;
}
